/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-text);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  inline-size: var(--container-inline-size);
  margin: 0 auto;
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--main-border);
}

.header {
  font-family: var(--decorating-font);
  padding: var(--header-padding) 0;
  gap: 20px;
  user-select: none;
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-size: var(--logo-font-size-slogan);
  line-height: 100%;
}

.header__title {
  font-size: var(--logo-font-size-title);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  font-size: 18px;
}

.section__title {
  align-self: flex-start;
  padding: 4px 10px;
  font-weight: var(--font-weight-title);
}

.section__picture {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-block-start: var(--main-border);
  border-block-end: var(--main-border);
}

.section__img-cover {
  position: relative;
  font-size: 0;
}

.section__img-cover::after {
  content: attr(data-label);
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--decorating-font);
  font-size: 14px;
  color: var(--invert-color);
  opacity: 0.5;
  text-shadow: var(--text-shadow);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: var(--text-stroke)) or (-webkit-text-stroke: var(--text-stroke))
) {
  .section__img-cover::after {
    -webkit-text-stroke: var(--text-stroke);
    text-stroke: var(--text-stroke);
    text-shadow: none;
  }
}

.section__text {
  padding: 0 25px 25px;
}

.section .section__text:first-of-type {
  padding: 25px;
}

.section__button-container {
  inline-size: 100%;
  padding: 0 25px 25px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.button {
  font-family: var(--decorating-font);
  font-size: 14px;
  line-height: 90%;
  border: var(--main-border);
  background-color: var(--main-color);
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0% -50%;
  background-color: var(--invert-color);
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transition:
    transform 0.5s ease-in-out,
    translate 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

button:hover::after {
  transform: scaleX(100%);
  translate: 50% 0%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--invert-color);
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  inline-size: 38px;
  aspect-ratio: 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--main-border);
  outline-offset: -2px;
}

.card__like-button {
  inline-size: 130px;
}

.footer {
  border: none;
  background-color: transparent;
  margin: 50px auto 100px;
}

.footer__button {
  padding: 17px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

@media (width>375px) {
  .footer__button {
    flex-direction: row;
  }
}

.footer__icon {
  inline-size: 28px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.footer__modal {
  display: grid;
  grid-template-columns: min-content minmax(202px, 234px);
  gap: 30px 20px;
  border-width: 2px;
  padding: 30px 40px;
  margin: unset;
  inline-size: max-content;
  min-inline-size: min-content;
  position: fixed;
  inset: 50%;
  transform: translate(-50%, -50%);
}

@media (width>375px) {
  .footer__modal {
    padding: 30px;
  }
}

.footer__modal::backdrop {
  background-color: var(--invert-color);
  opacity: 0.75;
}

.footer__modal:not([open]) {
  display: none;
}

.modal__icon {
  inline-size: 39px;
  align-self: center;
}

.modal__desc {
  text-transform: uppercase;
  font-family: var(--decorating-font);
  font-size: 14px;
  line-height: 150%;
}

.modal__button {
  grid-column: span 2;
  block-size: 38px;
}

/* Если нужно фиксировать окно относительно основного контента:

body:has(dialog[open]) {
  overflow: hidden;
}
*/

/* Фильтры */

.bright {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(40%);
}

.blur {
  filter: blur(2px);
}

.black-n-white {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(80%);
}

.multifilter {
  filter: invert(0.2) saturate(150%) blur(1px);
}

/* Анимации (SVG) */

.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .heart_core {
  fill: var(--countour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .heart_main-body {
  fill: var(--countour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .heart_core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .heart_main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart_core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart_main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart_contour {
  fill: var(--fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart_scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .heart_saprks {
  animation: heart_sparks 0.3s 0.3s ease-in;
}

.heart_contour {
  fill: var(--countour-color);
  transition: fill 0.1s linear;
}

.heart_main-body {
  fill: var(--unactive-color);
  transition: fill 0.3s linear;
}

.heart_core {
  fill: var(--unactive-color);
  transition: fill 0.3s 0.03s linear;
}

.heart_saprks {
  fill: var(--unactive-color);
}
